/*	Database phần mêm quản lý lao động
	Môn học: Lập trình hướng sự kiện Java
	Lớp học phần: DHKTPM15A
	Giảng viên: Trần Thị Anh Thi
 */ 
 use master
 go

Create database QuanLyLaoDong --Tạo CSDL cho phần mềm
ON PRIMARY 
(
	NAME = QLLaoDong,
	FILENAME = "E:\DeCuong\QuanLyLaoDong\QLLD_data.mdf",
	SIZE = 10MB,
	MAXSIZE = 100MB,
	FILEGROWTH = 20MB
)
LOG ON 
(
	NAME = QLLaoDong_log,
	FILENAME = "E:\DeCuong\QuanLyLaoDong\QLLD_log.ldf",
	SIZE = 6MB,
	MAXSIZE = 20MB,
	FILEGROWTH = 20MB
)
go
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QuanLyLaoDong].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
use QuanLyLaoDong --Sử dụng CSDL
go
/****** Object:  Table [dbo].[BangPhanCong]  ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BangPhanCong](
	[IDPhanCong] [nvarchar](255) NOT NULL,
	[IDCongViec] [nvarchar](255) NULL,
	[TenCongViec] [nvarchar](255) NULL,
	[IDCongNhan] [nvarchar](255) NULL,
	[NgayBatDauCV] [date] NULL,
	[NgayKetThucCV] [date] NULL,
 CONSTRAINT [PK_BangPhanCong] PRIMARY KEY CLUSTERED 
(
	[IDPhanCong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CongNhan]   ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CongNhan](
	[IDCongNhan] [nvarchar](255) NOT NULL,
	[TenCongNhan] [nvarchar](255) NULL,
	[GioiTinh] [nvarchar](255) NULL,
	[Phone] [nvarchar](255) NULL,
	[NgaySinh] [date] NULL,
	[CMND] [nvarchar](255) NULL,
	[Email] [nvarchar](255) NULL,
	[DiaChi] [nvarchar](255) NULL,
	[TrangThai] [nvarchar](255) NULL,
	[TrinhDo] [nvarchar](255) NULL,
	[IDTrinhDo] [nvarchar](255) NULL,
 CONSTRAINT [PK_CongNhan] PRIMARY KEY CLUSTERED 
(
	[IDCongNhan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CongTrinh] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CongTrinh](
	[IDCongTrinh] [nvarchar](255) NOT NULL,
	[TenCongTrinh] [nvarchar](255) NULL,
	[DiaDiem] [nvarchar](255) NULL,
	[NgayCapPhep] [date] NULL,
	[NgayKhoiCong] [date] NULL,
	[NgayDuKienHoanThanh] [date] NULL,
	[TienDo] [nvarchar](255) NULL,
	[IDLoaiCT] [nvarchar](255) NULL,
 CONSTRAINT [PK_CongTrinh] PRIMARY KEY CLUSTERED 
(
	[IDCongTrinh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CongViec] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CongViec](
	[IDCongViec] [nvarchar](255) NOT NULL,
	[TenCongViec] [nvarchar](255) NULL,
	[SoLuongLaoDong] [int] NULL,
	[NgayBatDauCV] [date] NULL,
	[NgayKetThucCV] [date] NULL,
	[TrangThai] [nvarchar](255) NULL,
	[IDCongTrinh] [nvarchar](255) NULL,
	[IDNhanVien] [nvarchar](255) NULL,
 CONSTRAINT [PK_CongViec$] PRIMARY KEY CLUSTERED 
(
	[IDCongViec] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiCongTrinh]  ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiCongTrinh](
	[IDLoaiCT] [nvarchar](255) NOT NULL,
	[TenLoaiCongTrinh] [nvarchar](255) NULL,
 CONSTRAINT [PK_LoaiCongTrinh$] PRIMARY KEY CLUSTERED 
(
	[IDLoaiCT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanVien] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[IDNhanVien] [nvarchar](255) NOT NULL,
	[TenNhanVien] [nvarchar](255) NULL,
	[GioiTinh] [nvarchar](255) NULL,
	[ngaySinh] [date] NULL,
	[CMND] [nvarchar](255) NULL,
	[Phone] [nvarchar](255) NULL,
	[email] [nvarchar](255) NULL,
	[diaChi] [nvarchar](255) NULL,
	[IDTaiKhoan] [nvarchar](255) NULL,
	[TrangThai] [nvarchar](255) NULL,
 CONSTRAINT [PK_NhanVien] PRIMARY KEY CLUSTERED 
(
	[IDNhanVien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiKhoan]  ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[IDTaiKhoan] [nvarchar](255) NOT NULL,
	[TenTaiKhoan] [nvarchar](255) NULL,
	[MatKhau] [nvarchar](255) NULL,
 CONSTRAINT [PK_TaiKhoan] PRIMARY KEY CLUSTERED 
(
	[IDTaiKhoan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TrinhDo]  ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TrinhDo](
	[IDTrinhDo] [nvarchar](255) NOT NULL,
	[TenTrinhDo] [nvarchar](255) NULL,
 CONSTRAINT [PK_TrinhDo] PRIMARY KEY CLUSTERED 
(
	[IDTrinhDo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[BangPhanCong] ([IDPhanCong], [IDCongViec], [TenCongViec], [IDCongNhan], [NgayBatDauCV], [NgayKetThucCV]) VALUES (N'PC000001', N'CV000001', N'Làm móng', N'CN111111', CAST(N'2020-11-15' AS Date), CAST(N'2020-12-02' AS Date))
INSERT [dbo].[BangPhanCong] ([IDPhanCong], [IDCongViec], [TenCongViec], [IDCongNhan], [NgayBatDauCV], [NgayKetThucCV]) VALUES (N'PC000002', N'CV000002', N'Dựng giàn giáo', N'CN111112', CAST(N'2020-12-05' AS Date), CAST(N'2020-12-10' AS Date))
INSERT [dbo].[BangPhanCong] ([IDPhanCong], [IDCongViec], [TenCongViec], [IDCongNhan], [NgayBatDauCV], [NgayKetThucCV]) VALUES (N'PC000003', N'CV000003', N'Thợ xây', N'CN111113', CAST(N'2020-12-01' AS Date), CAST(N'2021-05-20' AS Date))
GO
INSERT [dbo].[CongNhan] ([IDCongNhan], [TenCongNhan], [GioiTinh], [Phone], [NgaySinh], [CMND], [Email], [DiaChi], [TrangThai], [TrinhDo], [IDTrinhDo]) VALUES (N'CN111111', N'HUU NGUYEN AI', N'Nam', N'0903693773', CAST(N'1989-01-01' AS Date), N'225765994', N'ayaz@sudima.com', N'111 Nguyễn Văn Bảo, Phường 6, Quận Gò Vấp, TP HCM', N'Đang Làm', N'Kỹ sư ', N'KS000001')
INSERT [dbo].[CongNhan] ([IDCongNhan], [TenCongNhan], [GioiTinh], [Phone], [NgaySinh], [CMND], [Email], [DiaChi], [TrangThai], [TrinhDo], [IDTrinhDo]) VALUES (N'CN111112', N'MS HOTTA AKEMI', N'Nam', N'0989 134 945', CAST(N'1989-01-02' AS Date), N'225765995', N'huu.nguyen@worldsoftco.com', N'112 Nguyễn Văn Bảo, Phường 6, Quận Gò Vấp, TP HCM', N'Đang Làm', N'Kỹ sư ', N'KS000001')
INSERT [dbo].[CongNhan] ([IDCongNhan], [TenCongNhan], [GioiTinh], [Phone], [NgaySinh], [CMND], [Email], [DiaChi], [TrangThai], [TrinhDo], [IDTrinhDo]) VALUES (N'CN111113', N'CHU VĂN AN', N'Nam', N'0945160066', CAST(N'1989-01-03' AS Date), N'225765996', N'akemi@risingmaster.vn', N'113 Nguyễn Văn Bảo, Phường 6, Quận Gò Vấp, TP HCM', N'Đang Làm', N'Kỹ sư ', N'KS000001')
GO
INSERT [dbo].[CongTrinh] ([IDCongTrinh], [TenCongTrinh], [DiaDiem], [NgayCapPhep], [NgayKhoiCong], [NgayDuKienHoanThanh], [TienDo], [IDLoaiCT]) VALUES (N'CT111111', N'Dự án Vệ sinh môi trường thành phố - giai đoạn 2', N'Quận 2', CAST(N'2020-10-10' AS Date), CAST(N'2020-11-01' AS Date), CAST(N'2021-07-02' AS Date), N'Đang Thực Hiện', N'LCT00001')
INSERT [dbo].[CongTrinh] ([IDCongTrinh], [TenCongTrinh], [DiaDiem], [NgayCapPhep], [NgayKhoiCong], [NgayDuKienHoanThanh], [TienDo], [IDLoaiCT]) VALUES (N'CT111112', N'Dự án Nâng cấp đô thị - Dự án thành phần số 4: Cải tạo kênh và đường dọc kênh Tân Hóa – Lò Gốm', N'Quận 6; Quận 11; Quận Bình Tân', CAST(N'2020-06-20' AS Date), CAST(N'2020-07-01' AS Date), CAST(N'2021-07-02' AS Date), N'Đang Thực Hiện', N'LCT00004')
INSERT [dbo].[CongTrinh] ([IDCongTrinh], [TenCongTrinh], [DiaDiem], [NgayCapPhep], [NgayKhoiCong], [NgayDuKienHoanThanh], [TienDo], [IDLoaiCT]) VALUES (N'CT111113', N'Dự án Cải thiện Môi trường nước Tp.HCM, lưu vực kênh Tàu Hũ - Bến Nghé - Đôi - Tẻ, giai đoạn II	Quận 6', N'Quận 11; Quận Tân Phú', CAST(N'2020-01-03' AS Date), CAST(N'2020-03-03' AS Date), CAST(N'2021-07-03' AS Date), N'Đang Thực Hiện', N'LCT00004')
GO
INSERT [dbo].[CongViec] ([IDCongViec], [TenCongViec], [SoLuongLaoDong], [NgayBatDauCV], [NgayKetThucCV], [TrangThai], [IDCongTrinh], [IDNhanVien]) VALUES (N'CV000001', N'Làm móng', 10, CAST(N'2020-11-15' AS Date), CAST(N'2020-12-02' AS Date), N'Chưa hoàn thành', N'CT111111', N'NV000001')
INSERT [dbo].[CongViec] ([IDCongViec], [TenCongViec], [SoLuongLaoDong], [NgayBatDauCV], [NgayKetThucCV], [TrangThai], [IDCongTrinh], [IDNhanVien]) VALUES (N'CV000002', N'Dựng giàn giáo', 10, CAST(N'2020-12-05' AS Date), CAST(N'2020-12-10' AS Date), N'Chưa hoàn thành', N'CT111111', N'NV000001')
INSERT [dbo].[CongViec] ([IDCongViec], [TenCongViec], [SoLuongLaoDong], [NgayBatDauCV], [NgayKetThucCV], [TrangThai], [IDCongTrinh], [IDNhanVien]) VALUES (N'CV000003', N'Thợ xây', 10, CAST(N'2020-12-01' AS Date), CAST(N'2021-05-20' AS Date), N'Chưa hoàn thành', N'CT111111', N'NV000001')
GO
INSERT [dbo].[LoaiCongTrinh] ([IDLoaiCT], [TenLoaiCongTrinh]) VALUES (N'LCT00001', N'Hành chính')
INSERT [dbo].[LoaiCongTrinh] ([IDLoaiCT], [TenLoaiCongTrinh]) VALUES (N'LCT00002', N'Bệnh viện')
INSERT [dbo].[LoaiCongTrinh] ([IDLoaiCT], [TenLoaiCongTrinh]) VALUES (N'LCT00003', N'Khách sạn')
GO
INSERT [dbo].[NhanVien] ([IDNhanVien], [TenNhanVien], [GioiTinh], [ngaySinh], [CMND], [Phone], [email], [diaChi], [IDTaiKhoan], [TrangThai]) VALUES (N'NV000001', N'Bạch Tấn Tài', N'Nam', CAST(N'2000-06-02' AS Date), N'225765994', N'0983954045', N'tantai111@gmail.com', N'244 Quang Trung, Phường 11, Gò Vấp', N'TK111111', N'Đi Làm')
INSERT [dbo].[NhanVien] ([IDNhanVien], [TenNhanVien], [GioiTinh], [ngaySinh], [CMND], [Phone], [email], [diaChi], [IDTaiKhoan], [TrangThai]) VALUES (N'NV000002', N'Nguyễn Minh Thuận', N'Nam', CAST(N'2000-06-03' AS Date), N'225765995', N'0817808173', N'nmthuan0712@gmail.com', N'245 Quang Trung, Phường 11, Gò Vấp', N'TK111112', N'Đi Làm')
INSERT [dbo].[NhanVien] ([IDNhanVien], [TenNhanVien], [GioiTinh], [ngaySinh], [CMND], [Phone], [email], [diaChi], [IDTaiKhoan], [TrangThai]) VALUES (N'NV000003', N'Huỳnh Võ Hoàng Long', N'Nam', CAST(N'2000-06-04' AS Date), N'222432567', N'0913560887', N'longvo@gmail.com', N'246 Quang Trung, Phường 11, Gò Vấp', N'TK111113', N'Đi Làm')
GO
INSERT [dbo].[TaiKhoan] ([IDTaiKhoan], [TenTaiKhoan], [MatKhau]) VALUES (N'TK111111', N'admin', N'admin')
INSERT [dbo].[TaiKhoan] ([IDTaiKhoan], [TenTaiKhoan], [MatKhau]) VALUES (N'TK111112', N'mthuan', N'thuan0712')
INSERT [dbo].[TaiKhoan] ([IDTaiKhoan], [TenTaiKhoan], [MatKhau]) VALUES (N'TK111113', N'longvo', N'volong')
GO
INSERT [dbo].[TrinhDo] ([IDTrinhDo], [TenTrinhDo]) VALUES (N'KS000001', N'Kỹ Sư')
INSERT [dbo].[TrinhDo] ([IDTrinhDo], [TenTrinhDo]) VALUES (N'KS000002', N'Đại Học')
INSERT [dbo].[TrinhDo] ([IDTrinhDo], [TenTrinhDo]) VALUES (N'KS000003', N'Trung học phổ thông')
GO
ALTER TABLE [dbo].[BangPhanCong]  WITH CHECK ADD  CONSTRAINT [FK_BangPhanCong_CongNhan] FOREIGN KEY([IDCongNhan])
REFERENCES [dbo].[CongNhan] ([IDCongNhan])
GO
ALTER TABLE [dbo].[BangPhanCong] CHECK CONSTRAINT [FK_BangPhanCong_CongNhan]
GO
ALTER TABLE [dbo].[BangPhanCong]  WITH CHECK ADD  CONSTRAINT [FK_BangPhanCong_CongViec] FOREIGN KEY([IDCongViec])
REFERENCES [dbo].[CongViec] ([IDCongViec])
GO
ALTER TABLE [dbo].[BangPhanCong] CHECK CONSTRAINT [FK_BangPhanCong_CongViec]
GO
ALTER TABLE [dbo].[CongNhan]  WITH CHECK ADD  CONSTRAINT [FK_CongNhan_TrinhDo] FOREIGN KEY([IDTrinhDo])
REFERENCES [dbo].[TrinhDo] ([IDTrinhDo])
GO
ALTER TABLE [dbo].[CongNhan] CHECK CONSTRAINT [FK_CongNhan_TrinhDo]
GO
ALTER TABLE [dbo].[CongTrinh]  WITH CHECK ADD  CONSTRAINT [FK_CongTrinh_LoaiCongTrinh] FOREIGN KEY([IDLoaiCT])
REFERENCES [dbo].[LoaiCongTrinh] ([IDLoaiCT])
GO
ALTER TABLE [dbo].[CongTrinh] CHECK CONSTRAINT [FK_CongTrinh_LoaiCongTrinh]
GO
ALTER TABLE [dbo].[CongViec]  WITH CHECK ADD  CONSTRAINT [FK_CongViec_CongTrinh] FOREIGN KEY([IDCongTrinh])
REFERENCES [dbo].[CongTrinh] ([IDCongTrinh])
GO
ALTER TABLE [dbo].[CongViec] CHECK CONSTRAINT [FK_CongViec_CongTrinh]
GO
ALTER TABLE [dbo].[CongViec]  WITH CHECK ADD  CONSTRAINT [FK_CongViec_NhanVien] FOREIGN KEY([IDNhanVien])
REFERENCES [dbo].[NhanVien] ([IDNhanVien])
GO
ALTER TABLE [dbo].[CongViec] CHECK CONSTRAINT [FK_CongViec_NhanVien]
GO
ALTER TABLE [dbo].[NhanVien]  WITH CHECK ADD  CONSTRAINT [FK_NhanVien_TaiKhoan] FOREIGN KEY([IDTaiKhoan])
REFERENCES [dbo].[TaiKhoan] ([IDTaiKhoan])
GO
ALTER TABLE [dbo].[NhanVien] CHECK CONSTRAINT [FK_NhanVien_TaiKhoan]
GO
